# Environment
NODE_ENV=development

# AWS (local)
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DYNAMODB_ENDPOINT=http://localhost:4566

# Redis
REDIS_URL=redis://localhost:6379

# API
API_URL=http://localhost:3001

# DynamoDB table names
ARTICLES_TABLE=dev-articles
BLOGS_TABLE=dev-blogs
UPDATES_TABLE=dev-updates
